body{
  background-image: url(/static/abstract.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}

body *{
  font-family: sans-serif;
}

h1, h2{
  font-style: italic;
  font-weight: bold;
  margin: 0;
}

a, a:hover, a:visited{
  text-decoration: none;
  font-size: 24;
  color: #fff;
}
