{% extends 'base.html' %}

{% block content %}
<div class="container">
  <h1>Log In</h1>
  <div class="all-forms">
    <form action="{% url 'users:userlogin' %}"method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <div class="submission">
        <input type="submit" name="usr-signin" value="Sign In">
      </div>
    </form>
    <form action="{% url 'article:arlist' %}" method="post">
      {% csrf_token %}
      <div class="cancellation">
        <input type="submit" value="Cancel">
      </div>
    </form>
  </div>
</div>
{% endblock %}
